/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    background-color: #FFFFFF;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    text-rendering: optimizeLegibility;
    overflow-x: hidden
}

header,
section,
footer {
    margin: 0;
    padding: 0px;
    /* tweaked from 0 to 1px */

}



/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

/*
section {
    padding: 5px 0;
}

.row {
    margin-top: -10px;
}
.box {
    padding: 1%;
}*/



/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    display: block;
}

.logo {
    height: 55px;
    width: auto;
    align-items: right;
    position: relative;
    margin-left: 80px;
    margin-top: 8px;
    justify-content: left;
}

/*-------Main navigation--------*/

.main-nav {
    list-style: none;
    margin-left: 150px;
}

.main-nav li {
    margin-left: 26px;
    display: inline-flex;
    vertical-align: middle;
}

.main-nav .button-login {
    background: #FFFFFF;
    color: #2FA4AD;
    border: 1px solid #2FA4AD;
    border-bottom: 1px solid #2FA4AD !important;
    border-radius: 3px;

    padding-right: 22px !important;
    padding-left: 22px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #2FA4AD;
    text-decoration: none;
    font-size: 25%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2FA4AD;
}

.icon-small {
    color: #2FA4AD;
    width: 15px;
    vertical-align: bottom;
}

/* Dropdown icons*/
i {
    margin-left: 20px;
    min-width: 25px;
    border: solid #2FA4AD;
    border-width: 0 2px 2px 0;

}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*Buttons*/
/* ----- BUTTONS ----- */
/*-------Hero Image--------*/
.hero {
    background-image: url(../assets/hero.png);
    background-position: left;
    margin-left: -20px !important;
    height: 100vh;

}

.hero-img {

    height: 95vh;
    /* at every point the height of this box should be 95% of the vp*/

    background-size: cover;
    /*whatever the width of the element it will try and fit the width of the box*/
    background-position: top;
    /*makes sure that whatever the size of the view port the top of the image stays at the top of the container*/
    position: relative;
    padding-right: 0 !important;

}

.text-box {
    position: absolute;
    top: 20%;
    /* s0% of the width of the parent element*/
    left: 45%;
    transform: translate(70%, 70%)
        /*transform and translate is to the relation of the element*/
}

.heading-primary {
    color: #fff;

}

/*to put two parts of text one after another use block as they also create line breaks*/
.heading-primary-main {
    display: block;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1px;
    animation-timing-function: ease-out;
    animation-name: moveInLeft;
    animation-duration: 3s;
}

.heading-primary-sub {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 29px;
    animation: moveInRight 4s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*client images*/
.client-img-container {
    background-color: #F7F7F7;
    justify-content: center;
}

.client-img {
    object-fit: scale-down;
    margin-left: 20px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 85px;
    display: inline-block;
    border-radius: 5px;
    transition: all .2s;
    position: relative;
    font-size: 20px;
    margin-top: 35px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: #fff;
    color: #33A6BC;

}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scale(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/*------------------------*/
/* Section 2*/
.text-box2 {

    background-color: #FFFFFF;
    color: #222425;
    margin-top: 150px;
    text-align: center;


}

.heading-secondary-main {

    margin-top: 50px;
    margin-left: 5%;
    font-size: 42.5px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.heading-secondary-sub {

    margin-top: 40px;
    font-family: sans-serif;
    font-weight: 400;
    color: #8A8A8A;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
}

.pinkImages {
    margin-top: 5%;
    background-color: #FFFFFF;
    padding: 0px !important;
    margin-left: 18%;

}

.pinkrectangle {
    max-height: 43px;
    clip: rect(10px, 10px, 20px, 0px);
}

.pinkImagesborder1 {
    margin-top: 5%;
    height: 9px;
    width: 250px;
    background-color: #555;
    border-radius: 100px;
    vertical-align: bottom;
    background-image: linear-gradient(to right, #E4E4E4, rgb(58, 52, 52));
}

.pinkImagesborder2 {
    margin-top: 5%;
    height: 9px;
    width: 250px;
    background-color: #555;
    border-radius: 100px;
    vertical-align: bottom;
    background-image: linear-gradient(to right, #F8C8C4, #F9BEBC);
}

/*----------------*/
/*-------Enrichment Section*/
.section3 {
    margin-top: 10%;
    background-image: linear-gradient(to right, #45106A, #3D367D, #316E95, #2BA0AF);

}

.enrichment-text-box {
    color: #fff;
    font-size: .50rem;

}

.enrichment-title {

    margin-top: 10%;
}

.enrichment-paragraph {
    line-height: 40px;
    font-size: .25rem;
    font-weight: 400;
    font-family: sans-serif;

}

.enrichment-title-image {
    margin-top: 17%;
    margin-left: 10%;
}

.horizontal-line {
    min-width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 6%;
    border: solid 1px;
    border-block-start-color: #8A8A8A;
    border-block-end-color: rgb(105, 105, 105);

}

.reveal-section {
    margin-top: 0;
    background-image: linear-gradient(to right, #45106A, #3D367D, #316E95, #2BA0AF);

}

.reveal-image {
    margin-top: 9%;
    margin-left: 10%;
}

.reveal-title {
    margin-top: 21%;
    margin-left: 2.50%;
}

.reveal-paragraph {
    flex-wrap: nowrap;
    line-height: 40px;
    font-size: .25rem;
    font-weight: 400;
    font-family: sans-serif;

}

/*-----------------------------*/
/*-----Enrichment-questions--------*/
.questions-window-textbox {
    display: inline-block;
    background-color: #FFFFFF;
    color: #222425;
    text-align: center;
    margin-bottom: 10%;
}

.questions-window-title {
    margin-top: 5%;
    ;
    margin-left: 7%;
    font-size: 42.5px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.questions-window-secondary {
    margin-top: 1.5%;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: sans-serif;
    font-weight: 400;
    color: #8A8A8A;
    font-size: 16.5px;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;

}

.enrichment-questions-paragraph {
    border: 3px solid steelblue;
    border-radius: 10px;
    font-size: 18px;
    padding: 1% 17% 1% 0.55%;
    margin-left: 7%;
    display: inline-block;
    text-align: center;

}

.btn-enrichment-questions {
    color: #428091;
    margin-left: 10px;
}

.img-clearbit {
    padding-right: 20px;
    border-radius: 7px;
    text-align: center;
}

.span-enrichment-questions {}


/*----------Customer Section-------------*/
.customer-section {
    background-image: linear-gradient(#DAD5CB, #DFD8D4)
}


.blockquote {
    font-size: 30px;
    line-height: 55px;
    margin-top: 32%;
}

.cite2 {
    font-size: 25px;
}


/*------------Join Clearbit Section--------*/
.join-clearbit {
    background-color: #FFFFFF;
    color: #222425;
    text-align: center;
    margin-bottom: 8%;
    background-image: url("../assets/world.png");
    margin-top: 10%;
}

/*--------------------Email----------*/
form {
    display: flex;
    border: 4px solid #3DC8BB;
    padding: 2px;
    width: 35%;
    height: 85px;
    margin-left: 35%;
}

input {
    width: 80%;
    height: 75px;
    margin-left: 2%;
    margin-right: 2%;
    background-color : #fff;
    border: none;
    color: black;
    font-size: 20px;
}

::placeholder { 
    color: gray;
    font-size: 20px;
    opacity: 1; 
  }

.button-blue {
    background-color: #3DC8BB;
    border: none;
    color: white;
    padding: 22.5px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    flex-wrap: nowrap;
    font-size: 14px;
    border-radius: 10px;

}

/*--------------Footer-------------*/
footer {
    margin: auto;
    background-color: #212B33;
    color: #3DC8BB;
    padding: 5% 15%;

}

.footer-horizontal-line {
    min-width: 85%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 6%;
    border: solid 1px;

    border-block-end-color: rgb(32, 38, 44);
    margin-bottom: 2%;

}

.footer-title {
    font-size: 25px;
    color: #8A8A8A;
}

.footer-list {
    padding-top: 10%;
    list-style: none;
    font-size: 20px;
    color: #3DC8BB;
    line-height: 40px;
    text-transform: capitalize;
}

.hiring-footer {
    background-color: #3DC8BB;
    border: none;
    color: black;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    flex-wrap: nowrap;
    font-size: 12px;
    border-radius: 5px;
}

.footer-rights {
    font-size: 15px;
    color: #8A8A8A;
    margin-top: 30px; 
    padding-left: 0 !important;
}

.footer-btn {
    color: #333;
    font-size: 15px;
    font-family: ‘Georgia’, serif;
    border-radius: 5px;
    padding: 2% 15%;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: 2px solid #3DC8BB;
    text-decoration: none;
}

.footer-signinup {
    padding-left: 20%;
   padding-right: 0px !important; 
   margin-right: 10px;
   margin-top: -1%;
}

.sign-in-btn {
    background: #212B33;
    color: #3DC8BB;
}

.sign-up-btn {
    background: #666;
    color: #3DC8BB;
}